body {
  margin: 0 auto;
}
.contenedor {
  overflow: hidden;
}
.contenedor:hover {
  border: 5px solid blue;
}
.fondo {
  background-image: url('fondo_destacado.jpg');
  background-size: cover;
  height: 568px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 1s ease-in;
}
.fondo:hover {
  transform: scale(1.2);
}
.fondo:hover .texto {
  transform: rotate(0deg);
  opacity: 1;
}
.texto {
  width: 205px;
  height: 205px;
  color: black;
  background-color: white;
  padding: 5px;
  margin: 0 auto;
  transform: rotate(90deg);
  opacity: 0;
  transition: 1s ease-in;
}
